<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iskandar</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">  
    <link rel="stylesheet" href="./index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</head>
<body class="mt-5">
<!--navbar section-->    
<div class="navbar">
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/home">Iskandar Maulana</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" href="/portofolio">Portfolio<span class="sr-only">(current)</span></a>
            </li>
          <li class="nav-item">
            <a class="nav-link active" href="/contact" tabindex="-1" aria-disabled="true">Contac Us</a>
          </li>
          <li class="nav-item active dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Social Media
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" onclick=" window.open('https://www.instagram.com/iskandar_maulana','_blank')">Instagram</a>
                <a class="dropdown-item" onclick=" window.open('https://www.linkedin.com/in/iskandar-maulana-putera','_blank')">Linkedin</a>
                <!--<div class="dropdown-divider"></div>-->
              </div>
          </li>
            
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick=" window.open('http://google.com','_blank')">Search</button>
        </form>

        <a class="btn ml-2 btn-primary" href="/route/logout" role="button">Logout</a>              
      </div>
     
  </nav>
</div>
<!--end of navbar section-->



<!--portfolio section-->
<section id="portfolio" class="portfolio bg-light pb-3">
  <div class="container text-center">
      <div class="row mb-3 pt-3">
          <div class="col-md ">
              <h1>Portfolio</h1>
          </div>
      </div>
  
      <div class="row mb-2">
          <div class="col-md">
              <div class="card text-justify" style="width: 18rem;">
                  <img src="/IMG/Foto_5.jpg" class="card-img-top" alt="card-img-top">
                  <div class="card-body">
                    <p class="card-text text-center">Pantai Ujung Karang - Sabang</p>
                  </div>
              </div>
          </div>
  
          <div class="col-md">
              <div class="card text-justify" style="width: 18rem;">
                  <img src="/IMG/Foto_2.jpg" class="card-img-top" alt="card-img-top">
                  <div class="card-body">
                    <p class="card-text text-center">Tebing Breksi Yogyakrta.</p>
                  </div>
              </div>
          </div>
          
          <div class="col-md">
              <div class="card text-justify" style="width: 18rem;">
                  <img src="/IMG/Foto_5.jpg" class="card-img-top" alt="card-img-top">
                  <div class="card-body">
                    <p class="card-text text-center">Pantai Ujung Karang - Sabang.</p>
                  </div>
              </div>
          </div>   
      </div>
  
      <div class="row mb-2">
          <div class="col-md">
              <div class="card text-justify" style="width: 18rem;">
                  <img src="/IMG/foto_4.jpg" class="card-img-top" alt="card-img-top">
                  <div class="card-body">
                    <p class="card-text">Terserah mau isi caption apa BANDA ACEH Terserah mau isi caption apa Terserah mau isi caption apa.</p>
                  </div>
              </div>
          </div>
  
          <div class="col-md">
              <div class="card text-justify" style="width: 18rem;">
                  <img src="/IMG/foto_1.jpg" class="card-img-top" alt="card-img-top">
                  <div class="card-body">
                    <p class="card-text">Terserah mau isi caption apa YOGYA Terserah mau isi caption apa Terserah mau isi caption apa.</p>
                  </div>
              </div>
          </div>
          
          <div class="col-md">
              <div class="card text-justify" style="width: 18rem;">
                  <img src="/IMG/foto_6.jpg" class="card-img-top" alt="card-img-top">
                  <div class="card-body">
                    <p class="card-text">Terserah mau isi caption MEULABOH apa Terserah mau isi caption apa Terserah mau isi caption apa.</p>
                  </div>
              </div>
          </div>   
      </div>
  
      
  </div>
  </section>

</body>
</html>